{{ 'c_lp.css' | asset_url | stylesheet_tag }}
<style type="text/css">
html {
	scroll-behavior: smooth;
}
a:link,
a:visited {
	color: #FFF;
	text-decoration: none;
}

</style>

<div class="static" id="wrapper">
    <img src="{{'001.jpg' | asset_img_url: '1920x' }}?t=<?=time()?>" alt="" class="wide" width="1920" height="800" loading="lazy">
    <img src="{{'002_240429.jpg' | file_img_url: '1920x' }}?t=<?=time()?>" alt="" class="wide scroll-zoom-out animated-element" width="1920" height="800" loading="lazy">
	<img src="img/002_240429.jpg?t=<?=time()?>" class="wide scroll-zoom-out animated-element" loading="lazy">
	<a href="#notice">
        <img src="{{'03_240429.jpg' | file_img_url: '1920x' }}?t=<?=time()?>" alt="" class="wide scroll-fade-up animated-element" width="1920" height="800" loading="lazy">
    </a>
    <img src="{{'004_240430.jpg' | file_img_url: '1920x' }}?t=<?=time()?>" alt="" class="wide scroll-zoom-in animated-element" width="1920" height="800" loading="lazy">

	<div class="box_animation">
        <img src="{{'005.jpg' | file_img_url: '1920x' }}?t=<?=time()?>" alt="" class="wide" width="1920" height="800" loading="lazy">
        <img src="{{'arrow_yellow.png' | file_img_url: '1920x' }}?t=<?=time()?>" alt="" class="static scroll-move-down animated-element" id="arrow_1" width="1920" height="800"  loading="lazy">
	</div>

    <img src="{{'006.jpg' | file_img_url: '1920x' }}?t=<?=time()?>" alt="" class="wide" width="1920" height="800" loading="lazy">
    <img src="{{'007.jpg' | file_img_url: '1920x' }}?t=<?=time()?>" alt="" class="wide" width="1920" height="800" loading="lazy">
    <img src="{{'008.jpg' | file_img_url: '1920x' }}?t=<?=time()?>" alt="" class="wide" width="1920" height="800" loading="lazy">
    <img src="{{'009.jpg' | file_img_url: '1920x' }}?t=<?=time()?>" alt="" class="wide" width="1920" height="800" loading="lazy">
    <img src="{{'010.jpg' | file_img_url: '1920x' }}?t=<?=time()?>" alt="" class="wide" width="1920" height="800" loading="lazy">
    <img src="{{'011.jpg' | file_img_url: '1920x' }}?t=<?=time()?>" alt="" class="wide" width="1920" height="800" loading="lazy">
    <img src="{{'012.jpg' | file_img_url: '1920x' }}?t=<?=time()?>" alt="" class="wide" width="1920" height="800" loading="lazy">
    <img src="{{'013.jpg' | file_img_url: '1920x' }}?t=<?=time()?>" alt="" class="wide" width="1920" height="800" loading="lazy">
    <img src="{{'014.jpg' | file_img_url: '1920x' }}?t=<?=time()?>" alt="" class="wide" width="1920" height="800" loading="lazy">
    <img src="{{'015.jpg' | file_img_url: '1920x' }}?t=<?=time()?>" alt="" class="wide" width="1920" height="800" loading="lazy">
    <img src="{{'016.jpg' | file_img_url: '1920x' }}?t=<?=time()?>" alt="" class="wide" width="1920" height="800" loading="lazy">
    <img src="{{'017.jpg' | file_img_url: '1920x' }}?t=<?=time()?>" alt="" class="wide" width="1920" height="800" loading="lazy">
    <img src="{{'arrow_red.png' | file_img_url: '1920x' }}?t=<?=time()?>" alt=""  class="static scroll-move-down animated-element" id="arrow_2" width="1920" height="800" loading="lazy">
    <img src="{{'018.jpg' | file_img_url: '1920x' }}?t=<?=time()?>" alt=""  class="wide" style="margin-bottom:30px;" width="1920" height="800" loading="lazy">
    <img src="{{'019.jpg' | file_img_url: '1920x' }}?t=<?=time()?>" alt="" class="wide" style="margin-bottom:30px;" width="1920" height="800" loading="lazy">
	<div class="box_animation">
        <img src="{{'020.jpg' | file_img_url: '1920x' }}?t=<?=time()?>" alt="" class="wide" width="1920" height="800" loading="lazy">
        <img src="{{'text_01.png' | file_img_url: '1920x' }}?t=<?=time()?>" alt="" id="text_01" width="1920" height="800" loading="lazy">
        <img src="{{'text_02.png' | file_img_url: '1920x' }}?t=<?=time()?>" alt="" class="scroll-zoom-in animated-element" width="1920" height="800" loading="lazy">
	</div>
	<a href="#notice">
        <img src="{{'003_240429.jpg' | file_img_url: '1920x' }}?t=<?=time()?>" alt="" class="wide" width="1920" height="800" loading="lazy">
    </a>
	<div class="box_animation" style="padding-bottom:30px;">
		<img src="img/021.jpg?t=<?=time()?>" class="wide" style="margin-bottom:30px;" loading="lazy">
		<img src="img/x_cat.png?t=<?=time()?>" class="scroll-fade-in animated-element" id="cat" loading="lazy">
	</div>
	<img src="img/arrow_red.png?t=<?=time()?>" class="scroll-move-down animated-element" id="arrow_3" loading="lazy">
	<img src="img/022.jpg?t=<?=time()?>" class="wide" loading="lazy">
	<img src="img/023.jpg?t=<?=time()?>" class="wide scroll-zoom-in animated-element" id="text_03" loading="lazy">
	<img src="img/arrow_blue.png?t=<?=time()?>" class="scroll-move-down animated-element" id="arrow_4" loading="lazy">
	<img src="img/024.jpg?t=<?=time()?>" class="wide" style="margin-bottom:30px;" loading="lazy">
	<img src="img/arrow_red.png?t=<?=time()?>" class="scroll-move-down animated-element" id="arrow_5" loading="lazy">
	<img src="img/025.jpg?t=<?=time()?>" class="wide scroll-fade-in animated-element" loading="lazy">
	<img src="img/026.jpg?t=<?=time()?>" class="wide" loading="lazy">
	
	<div id="box_sozai">
		<img src="img/sozai_01.png?t=<?=time()?>" class="sozai scroll-fade-in animated-element" loading="lazy">
		<img src="img/sozai_02.png?t=<?=time()?>" class="sozai scroll-fade-in animated-element" loading="lazy">
		<img src="img/sozai_03.png?t=<?=time()?>" class="sozai scroll-fade-in animated-element" loading="lazy">
		<img src="img/sozai_04.png?t=<?=time()?>" class="sozai scroll-fade-in animated-element" loading="lazy">
	</div>
	
	<a href="#notice"><img src="img/003_240429.jpg?t=<?=time()?>" class="wide scroll-fade-up animated-element" loading="lazy"></a>
	
	
	-->
	<a id="notice" href="https://hakkeido.com/products/%E7%99%BD%E8%8F%9C%E3%82%AD%E3%83%A0%E3%83%81" target="_blank"><img src="img/046.jpg?t=<?=time()?>" class="wide" loading="lazy"></a>
	<img src="img/029.png?t=<?=time()?>" class="static scroll-zoom-out animated-element" style="width:80%; margin-bottom:30px;" loading="lazy">
	<img src="img/045.jpg?t=<?=time()?>" class="wide" loading="lazy">
	<a href="https://hakkeido.com/products/beginners-set?selling_plan=692424933673&variant=47201055605033" target="_blank"><img src="img/kinkatsu.png?t=<?=time()?>?v=5" class="static button_start" style="width:76%; margin: 0 0 30px 8%;" loading="lazy"></a>
	
	<div class="box_animation" style="padding-top:3%; margin-bottom:20px;">
		<img src="img/032.jpg?t=<?=time()?>" class="static" style="width: 70%;" loading="lazy">
		<img src="img/x.png?t=<?=time()?>" class="static scroll-fade-in animated-element" style="width:80%; position: absolute; top:0; left:10%;" loading="lazy">
	</div>
	<img src="img/arrow_orange.png?t=<?=time()?>" class="static scroll-move-down animated-element" style="width:70%;" loading="lazy">
	<img src="img/034.jpg?t=<?=time()?>" class="wide" style="margin-bottom: 30px;" loading="lazy">
	<img src="img/033.jpg?t=<?=time()?>" class="wide scroll-zoom-left animated-element" id="trigger_footer" loading="lazy">
	<img src="img/035.jpg?t=<?=time()?>" class="static" style="width: 50%; margin-bottom: 20px;" loading="lazy">
	<img src="img/arrow_orange.png?t=<?=time()?>" class="static scroll-move-down animated-element" style="width: 50%;" loading="lazy">
	<img src="img/036.jpg?t=<?=time()?>" class="wide scroll-zoom-right animated-element" loading="lazy">
	<img src="img/037.jpg?t=<?=time()?>" class="wide" loading="lazy">
	<img src="img/038.jpg?t=<?=time()?>?v=5" class="wide scroll-zoom-in animated-element" loading="lazy">
	<img src="img/039.jpg?t=<?=time()?>" class="wide scroll-zoom-left animated-element" loading="lazy">
	<img src="img/040.jpg?t=<?=time()?>" class="wide" loading="lazy">
	<img src="img/041.jpg?t=<?=time()?>" class="wide" loading="lazy">
	<img src="img/042.jpg?t=<?=time()?>" class="wide" loading="lazy">
	<img src="img/043.jpg?t=<?=time()?>" class="wide" loading="lazy">
	
	<div class="box_animation">
		<img src="img/044.jpg?t=<?=time()?>" class="wide" loading="lazy">
		<a href="https://hakkeido.com/products/beginners-set?selling_plan=692424933673&variant=47201055605033" target="_blank"><img src="img/kinkatsu.png?t=<?=time()?>?v=5" class="static button_start" style="position: absolute; width:76%; left:10%; top:8%;" loading="lazy"></a>
	</div>
	
	<!--
	<a href="https://hakkeido.com/products/%E7%99%BD%E8%8F%9C%E3%82%AD%E3%83%A0%E3%83%81" target="_blank"><img src="img/003_240429.jpg?t=<?=time()?>" class="wide scroll-fade-up animated-element" loading="lazy"></a>
	-->
	
	<div id="legal">
		<p><a href="https://hakkeido.com/pages/about-us" target="_blank">会社概要</a></p>
		<p><a href="https://hakkeido.com/policies/legal-notice" target="_blank">特定商取引法に基づく表記</a></p>
		<p><a href="https://hakkeido.com/policies/privacy-policy" target="_blank">プライバシーポリシー</a></p>
		<p>&copy;2023 HAKKEIDO</p>
	</div>

</div>
<!-- #wrapper -->

<div id="footer" class="kiran">
	<a href="https://hakkeido.com/products/beginners-set?selling_plan=692424933673&variant=47201055605033" target="_blank"><img src="img/footer.png?t=<?=time()?>" class="wide" style="margin:0 auto;" loading="lazy"></a>
</div>


/*
<script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
*/
?>
<script>
let targets = document.querySelectorAll('.animated-element'); //ターゲット要素
//スクロールイベント
window.addEventListener('scroll', function () {
	var scroll = window.scrollY; //スクロール量を取得
	var windowHeight = window.innerHeight * 0.7; //画面の高さを取得
	for (let target of targets) { //ターゲット要素がある分、アニメーション用のクラスをつける処理を繰り返す
		var targetPos = target.getBoundingClientRect().top + scroll; //ターゲット要素の位置を取得
		if (scroll > targetPos - windowHeight) { //スクロール量 > ターゲット要素の位置
			target.classList.add('show'); //is-animatedクラスを加える
		}
	}
	var trigger = document.getElementById('trigger_footer');
	var triggerPos = trigger.getBoundingClientRect().top + scroll;
	if(scroll > triggerPos - windowHeight){
		document.getElementById('footer').className = 'kiran show';
	}else{
		document.getElementById('footer').className = 'kiran';
	}
});
window.addEventListener('resize', function(){
	var rect = document.getElementById('footer').getBoundingClientRect();
	document.getElementById('legal').style.paddingBottom = rect.height + 20 + 'px';
})
</script>

{%- style -%}
  #shopify-section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top-pc }}px;
    padding-bottom: {{ section.settings.padding_bottom-pc }}px;
  }

  @media screen and (max-width: 750px) {
    #shopify-section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{% schema %}
{
  "name": "カスタム_lp",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "見出し",
      "default": "見出し"
    },
    {
      "type": "header",
      "content": "上下の余白"
    },
    {
      "type": "range",
      "id": "padding_top-pc",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "上部の余白（PC）",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_bottom-pc",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "下部の余白（PC)",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "上部の余白",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "下部の余白",
      "default": 32
    }
  ],
  "presets":[
    {
      "name" : "カスタム_lp",
      "category": "カスタムパーツ"
    }
  ]
}
{% endschema %}