{{ 'section-rich-section.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  #shopify-section-{{ section.id }} {
    {% if section.settings.background_image != blank %}
      background-image: url({{ section.settings.background_image | img_url: 'master' }});
      background-size: {% if section.settings.backgorund_image_repeat %}contain{% else %}cover{% endif %};
      background-position: center;
      background-repeat: {% if section.settings.backgorund_image_repeat %}repeat-x{% else %}no-repeat{% endif %};
    {% endif %}
  }
  {% if section.settings.backgorund_image_parallax == true %}
    @media screen and (min-width: 750px) {
      #shopify-section-{{ section.id }} {
          background-attachment: fixed;
      }
    }
  {% endif %}

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<div
  id="{{ section.settings.anchor }}"
  class="isolate{% unless section.settings.full_width %} page-width{% endunless %}"
>
  <div id="section-{{ section.id }}" class="rich-section content-container {% if section.settings.full_width %} rich-section--full-width content-container--full-width{% endif %} section-{{ section.id }}-padding {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
    <div class="rich-section__wrapper {% if section.settings.full_width %} page-width{% endif %}">
          <div class="rich-section__blocks--between" style="width:100%">
            {% comment %} <div class="rich-section__pattern-1_line_background" style="display:block;"></div> {% endcomment %}
            <h2 class="{{ section.settings.title_size }}" style="color:white; margin:0 20px;">
              {{ section.settings.title }}
            </h2>
            {% comment %} <div class="rich-section__pattern-1_line_background" style="display:block;"></div> {% endcomment %}
          </div>
          <div class="rich-section__blocks center" style="margin: 0 auto;">
            <div class="rich-section__flex_even direction_column_on_mobile">
              {%- if section.settings.featured_image != blank -%}
                <div class="materials-side-image-wrap">
                  <img
                    class="materials-side-image"
                    style="max-width:120px;"
                    src="{{ section.settings.featured_image | img_url: 'master' }}"
                    alt="{{ section.settings.title }}"
                  >
                </div>
              {%- endif -%}
              <div class="side-content materials-side-content">
                <p class="u-h6">{{ section.settings.caption1 }}</p>
                <a
                  class="custom-Button {% if section.settings.view_all_style == 'link' %}link underlined-link{% elsif section.settings.view_all_style == 'solid' %}button{% else %}button button--secondary{% endif %}"
                  href="{{ section.settings.caption_link1 }}"
                  {% if section.settings.outer_link == true %}target="_blank" rel="noopener noreferrer"{% endif %}
                  >{{section.settings.caption_link_text}}<span class="icon-wrap">{% render 'icon-arrow' %}</span></a
                >
              </div>
            </div>
<style>
.materials-side-content {
  width: 70%;
}
.materials-side-image-wrap {
  width: 20%;
}
.materials-side-image {
  max-width: 120px;
  width: 100%;
}
@media screen and (max-width: 749px) {
  .materials-side-content {
    width: 100%;
  }
  .materials-side-image-wrap {
    width: 100%;
  }
  .materials-side-image {
    max-width: 120px;
    width: 100%;
  }
}
</style>
<style>
.material-section-wrap {
    position: relative;
    width: 100%;
    height: 30rem;
    margin: 3rem auto 0;
}
@media screen and (max-width: 749px) {
  .material-section-wrap {
    {% comment %} position: static; {% endcomment %}
    height: auto;
  }
}

.material-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.material-list_bg-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.material-list .material-image {
  opacity: 1;
  transition: all 0.2s;
}
.material-list.opacity-hidden .material-image {
  opacity: 0;
  transition: all 0.2s;
}
.material-list.opacity-hidden .material-label {
  opacity: 0;
  transition: all 0.2s;
}
.material-list.opacity-hidden .material-link {
  border-right: 1px solid #ffffffad;
}


@media screen and (max-width: 749px) {
  .material-list.opacity-hidden .material-image {
    opacity: 1;
  }
  .material-list.opacity-hidden .material-label {
    opacity: 1;
  }
  .material-list.opacity-hidden .material-link {
    border-right: 0px solid #ffffffad;
  }

  .material-wrap {
    position: static;
  }
  .material-list_bg-wrap {
    position: static;
  }
}
</style>
            <div class="material-section-wrap mp-display-none">
              <div class="material-wrap">
                <div class="material-list">
                  {% for block in section.blocks %}
                    <div id="block-{{ block.id }}" class="material-sections material_list_tab material_list_tab-{{ forloop.index }}">
                      <a href="{{ block.settings.link }}" class="material-link">
                        <img class="material-image"
                          src="{{ block.settings.image | img_url: 'master' }}"
                          alt="{{ block.settings.image.alt }}"
                        >
                        <p class="material-label u-h6">{{ block.settings.label }}</p>
                      </a>
                      {% comment %} {% if block.settings.popup_image != blank %}
                      <a href="{{ block.settings.link }}" class="hover-popup">
                        <img src="{{ block.settings.popup_image | image_url:width: 1400 }}" class="hover-popup-image">
                      </a>
                      {% endif %} {% endcomment %}
                    </div>
                  {% endfor %}
                </div>
              </div>
              <div class="material-list_bg-wrap">
                {% for block in section.blocks %}
                  <div class="material_list_bg material_list_bg_{{ forloop.index }} lazyloaded" data-bg="{{ block.settings.popup_image | image_url:width: 1400 }}">
                    <div class="material_list_hover_txt">
                      <div class="inner">
                        {% comment %} <h2 class="serif">Keiichi Moriyoshi</h2>
                        <p class="serif"> わさだ店 | 店長</p> {% endcomment %}
                      </div>
                      <div class="ico_sign">
                        <span></span>
                      </div>
                    </div>
                  </div>
                  <style>
                    .material_list_bg_{{ forloop.index }}.material_list_bg {
                      background-image: url('{{ block.settings.popup_image | image_url:width: 1400 }}');
                    }
                    {% if block.settings.popup_image_mp != blank %}
                    @media screen and (max-width: 749px) {
                      .material_list_bg_{{ forloop.index }}.material_list_bg {
                        background-image: url('{{ block.settings.popup_image_mp | image_url:width: 700 }}');
                      }
                    }
                    {% endif %}
                  </style>
                {% endfor %}
              </div>
            </div>



<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<div class="slick-section pc-display-none">
    <div class="sliderArea">
      <div class="full-screen slider">
        {% for block in section.blocks %}
        <div class="slide-unit slide-unit-{{ forloop.index }}">
          <a href="{{ block.settings.link }}">
            <img src="{{ block.settings.popup_image_mp  | image_url:width:800 }}" alt="{{ block.settings.popup_image_mp.alt | escape }}">
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
    <a class="custom-Button custom-Button2 button button--secondary" href="{{section.settings.mobile_link}}">
      {{section.settings.mobile_link_text}}<span class="icon-wrap"><svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor"></path></svg></span>
    </a>
</div>
<style>
/*====================================================================
slick
====================================================================*/
.sliderArea {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 25px;
}
.sliderArea.w300 {
  max-width: 300px;
}
.slick-slide {
  margin: 0 5px;
}
.slick-slide img {
  width: 100%;
  height: auto;
}
.slick-prev, .slick-next {
  z-index: 1;
}
.slick-prev:before, .slick-next:before {
  color: #000;
}
.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}
.slick-active {
  opacity: 1;
}
.slick-current {
  opacity: 1;
}
.thumb {
  margin: 20px 0 0;
}
.thumb .slick-slide {
  cursor: pointer;
}
.thumb .slick-slide:hover {
  opacity: .7;
}

/*====================================================================
.full-screen
====================================================================*/

.full-screen .slick-list {
  overflow: visible;
}
.full-screen.slider {
  max-width: 300px;
  margin: 0 auto;
}

/*カスタム*/
#section-{{ section.id }} .slick-prev, #section-{{ section.id }} .slick-next {
  top: auto;
  height: 33px;
  width: 33px;
  bottom: -26%;
}
#section-{{ section.id }} .slick-prev:before, #section-{{ section.id }} .slick-next:before {
  color: #fff;
  font-size: 30px;
}

#section-{{ section.id }} .custom-Button.custom-Button2 {
  margin: 0 auto;
  margin-top: 24px;
  width: 200px;
  display: flex;
}

#section-{{ section.id }} .slide-unit.slick-slide {
  transform: scale(1);
  transition: all 0.8s;
}
#section-{{ section.id }} .slide-unit.slick-slide.slick-active {
  transform: scale(1.15);
  transition: all 0.8s;
}
</style>
<script>
$(document).on('ready', function() {
  $(".full-screen").slick({
    centerMode: true,
    centerPadding: '5%',
    dots: false,
    autoplay: true,
    autoplaySpeed: 3000,
    speed: 1000,
    infinite: true,
    slidesToShow: 1,
    slidesPerRow: 1,
  });
});
</script>






          </div>
    </div>
  </div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
  // 各タブに対するホバーイベントリスナーを設定
  var tabs = document.querySelectorAll('.material-sections');
  tabs.forEach(function(tab, index) {
    // ホバー時
    tab.addEventListener('mouseenter', function() {
      setActiveBg(index + 1); // 選択された背景をアクティブにし、リストを透明にする
    });
    // ホバーが外れた時
    tab.addEventListener('mouseleave', function() {
      removeActiveBg(); // アクティブ状態を削除し、リストの透明度を元に戻す
    });
  });

  function setActiveBg(activeIndex) {
    // すべての背景を非アクティブにする
    var bgs = document.querySelectorAll('.material_list_bg');
    bgs.forEach(function(bg) {
      bg.classList.remove('active');
    });

    // 指定されたインデックスの背景をアクティブにする
    var activeBg = document.querySelector('.material_list_bg_' + activeIndex);
    if (activeBg) {
      activeBg.classList.add('active');
    }

    // material-listにopacity-hiddenクラスを追加
    document.querySelector('.material-list').classList.add('opacity-hidden');
  }

  function removeActiveBg() {
    // アクティブな背景を非アクティブにし、opacity-hiddenクラスを削除
    var bgs = document.querySelectorAll('.material_list_bg');
    bgs.forEach(function(bg) {
      bg.classList.remove('active');
    });

    // opacity-hiddenクラスを削除
    document.querySelector('.material-list').classList.remove('opacity-hidden');
  }
});

</script>

<style>
.material_list_bg {
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: all .1s ease;
    opacity: 0;
}
.material_list_bg.active {
  opacity: 1;
}
@media screen and (max-width: 749px) {
  .material_list_bg.active {
    opacity: 0;
  }
}
.material_hover_txt {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.material_list_hover_txt .inner {
  padding: 10vh 5vw;
}

.material_list_bg .ico_sign {
  opacity: 1;
  position: absolute;
  top: 50%;
  right: 5vw;
  margin: -50px 0 0;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #fff;
}
.material_list_bg .ico_sign span {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
@keyframes arrow-slide-in {
  from {
    transform: translateX(-100%); /* アニメーション開始時に矢印を左に隠す */
    opacity: 0; /* アニメーション開始時に矢印を透明にする */
  }
  to {
    transform: translateX(0%); /* アニメーション終了時に矢印を元の位置に戻す */
    opacity: 1; /* アニメーション終了時に矢印を不透明にする */
  }
}
.material_list_bg .ico_sign span:before {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50px auto;
  background-image: url(https://cdn.shopify.com/s/files/1/0840/8770/1801/files/arrow-17_1.png);
  content: '';
  transition-delay: .1s;
  -webkit-transition-delay: .1s;
}
.material_list_bg.active .ico_sign span:before {
  animation: arrow-slide-in 0.5s ease forwards;
}

@media screen and (max-width: 749px) {
  .material_list_bg {
    display: none;
  }
  .material_hover_txt {
    display: none;
  }
  .material_list_hover_txt .inner {
    padding: 0;
  }
  .material_list_bg .ico_sign {
    display: none;
  }
}
</style>

<style>
#section-{{ section.id }}{
  overflow: hidden;
}
  @media screen and (min-width: 990px) {
    #shopify-section-{{ section.id }} .rich-section__blocks {
        max-width: 1000px;
        padding-right: 20px;
        padding-left: 20px;
    }
  }


  #section-{{ section.id }} .side-content {
  padding: 10px;
  color:#fff;
  display:flex;
  flex-direction: column;
  font-size: 12pt;
}
#section-{{ section.id }} .side-content p {
  text-align:left;
}
#section-{{ section.id }} .custom-Button {
  text-wrap:nowrap;
  background: transparent;
  text-align: right;
  text-decoration: none;
  color: #fff;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  margin-left: auto;
  box-shadow: 0 0 0 0 #fff;
}
@media screen and (max-width: 749px) {
  #section-{{ section.id }} .custom-Button {
    display: none;
  }
}
#section-{{ section.id }} .custom-Button::after {
  box-shadow: 0 0 0 0 #fff;
}
#section-{{ section.id }} .custom-Button:hover {
  box-shadow: 0 0 0 0 #fff;
}
#section-{{ section.id }} .custom-Button:hover::before,#section-{{ section.id }} .custom-Button:hover::after {
  box-shadow: 0 0 0 0 #fff;
}

#section-{{ section.id }} .material-list {
  display: flex;
  gap: 0px;


  height: 100%;
}
#section-{{ section.id }} .material-sections {
  width: 100%;
  margin: 0px;
}
#section-{{ section.id }} .material-link {
  text-decoration: none;
  position: relative;
  display: inline-block;
  transition: all 0.2s;
  height: 100%;
}
@media screen and (max-width: 749px) {
  #section-{{ section.id }} .material-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
  }
  #section-{{ section.id }} .material-sections {
    width: 25%;
    margin: 0px;
  }
}
#section-{{ section.id }} .material-image {
  width: 100%;
  height: 100%;
  margin: 0px;
}
#section-{{ section.id }} .material-label {
  text-decoration: none;
  color: #fff;
  margin: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  writing-mode: vertical-rl;
  text-orientation: upright;
  overflow: hidden;
  {% comment %} text-overflow: ellipsis; {% endcomment %}
  white-space: nowrap;
  font-size: 25px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 749px) {
  #section-{{ section.id }} .material-label {
    font-size: 16px;
  }
}


</style>

<style>
#shopify-section-{{ section.id }} .rich-section__blocks--between {
    justify-content: center;
    margin-bottom: 30px;
}

#shopify-section-{{ section.id }} .hover-popup {
  opacity: 0;
  width: 0px;
  height: 0px;
  margin: 0px;
  padding: 0px;
  transition: all 0.2s;
  position: fixed;
  z-index: 1000;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
}
#shopify-section-{{ section.id }} .hover-popup img {
  width: 100%;
  height: auto;
}
#section-{{ section.id }} .material-sections , #section-{{ section.id }} .material-sections .material-link {
  cursor: zoom-in;
}
#section-{{ section.id }} .material-sections:hover .hover-popup {
  opacity: 1;
  max-width: 100vw;
  padding: 20px 40px;
  width: 80%;
  margin: 0 auto;
  height: auto;
  transition: all 0.2s;
}
@media screen and (max-width: 749px) {
  #section-{{ section.id }} .material-sections:hover .hover-popup {
    opacity: 1;
    max-width: 100vw;
    padding: 5px 10px;
    width: 100%;
    margin: 0 auto;
    height: auto;
    transition: all 0.2s;
  }
}
</style>

{% schema %}
{
  "name": "(C)リッチセクション1",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "button",
      "name": "素材",
      "settings": [
        {
          "type": "text",
          "id": "label",
          "default": "label",
          "label": "ラベル"
        },
        {
          "type": "url",
          "id": "link",
          "label": "リンク"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "画像"
        },
        {
          "type": "image_picker",
          "id": "popup_image",
          "label": "ポップアップ画像"
        },
        {
          "type": "image_picker",
          "id": "popup_image_mp",
          "label": "ポップアップ画像-モバイル"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "anchor",
      "label": "アンカーID",
      "default": "news"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "背景画像"
    },
    {
      "type": "checkbox",
      "id": "backgorund_image_repeat",
      "label": "背景画像を繰り返す",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "backgorund_image_parallax",
      "label": "パララックスをオンにする",
      "default": false
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.rich-section.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.rich-section.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.rich-section.settings.desktop_content_position.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.rich-section.settings.desktop_content_position.label",
      "info": "t:sections.rich-section.settings.desktop_content_position.info"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "タイトル",
      "label": "タイトル"
    },
    {
      "type": "select",
      "id": "title_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "文字サイズ"
    },
    {
      "type": "header",
      "content": "コンテンツ"
    },
    {
      "type": "image_picker",
      "id": "featured_image",
      "label": "メイン画像"
    },
    {
      "type": "image_picker",
      "id": "caption_image1",
      "label": "キャプション画像1"
    },
    {
      "type": "html",
      "id": "caption1",
      "default": "キャプション1",
      "label": "キャプション1"
    },
    {
      "type": "url",
      "id": "caption_link1",
      "label": "リンク"
    },
    {
      "type": "checkbox",
      "id": "outer_link",
      "label": "別タブで開く",
      "default": false
    },
    {
      "type": "text",
      "id": "caption_link_text",
      "label": "リンクテキスト"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "t:sections.rich-section.settings.full_width.label"
    },
    {
      "type": "header",
      "content": "モバイル"
    },
    {
      "type": "url",
      "id": "mobile_link",
      "label": "ボタンリンク"
    },
    {
      "type": "text",
      "id": "mobile_link_text",
      "label": "ボタンテキスト"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "presets": [
    {
      "name": "(C)リッチセクション1"
    }
  ]
}
{% endschema %}
